<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue js seris 2</title>
    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="../vue.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="second_part">
                    <p v-if="show">i am v-if <span>hi i am span</span></p>
                    <p v-else>i am v-else</p>
                    <template v-if="show"><!-- template is use for wrapper but it is not rendered in frontend -->
                        <p>You can not see me!32322</p>
                        <p>You can not see me!0000</p>
                        <p>You can not see me!121212121</p>
                        <p>You can not see me!3434556677878</p>
                        <p>You can not see me!787889890890</p>
                    </template>
                    <p v-show="show">i am v - show</p> <!-- v-show does not remove element form the dom, its just hide it with display:none; -->
                    <button @click="show = !show">switch</button>
                    <hr>
                    <ul>
                        <li v-for="item in medicine" :key="medicine">{{ item }}</li> <!-- item is the object name and medicine is the collection or array name -->
                    </ul>
                    <hr>
                    <button @click="medicine.push('new one')">add new</button> <!-- push() method does not create new element but add new element to an existing array -->
                    <hr>
                    <ul type="square">
                        <!-- in v-for loop first item is the value of an array and second value is index of the array -->
                        <!-- here value is array value and key is index -->
                        <li v-for="(value, key) in medicine">{{ value }} <b>in {{ key }} index</b></li><!-- value is the array value and key is the index -->
                    </ul>
                    <hr>
                    <h3>loop through multiple non nested elements</h3>
                    <template v-for="(value, index) in medicine">
                        <h5>{{ value }}</h5>
                        <p>{{ index }}</p> 
                    </template>
                    <hr>
                    <h3>Nested loop example</h3>
                    <ul>
                        <li v-for="car in cars">
                            <!-- loopIndex is like laravel loop index starts with 0 -->
                            <p v-for="(value,key,loopIndex) in car">{{ key }} : {{ value }} <strong>loop index is</strong> {{ loopIndex }}</p>
                        </li>
                    </ul>

                    <strong>1-10 print using loop</strong>
                    <span v-for="n in 10">{{ n }}  </span>
                    <hr>
                
                </div> 
            </div>
        </div>
    </div>
    
</body>
<script>
    var vu = new Vue({
        el:'.second_part',
        data:{
            show:true,
            medicine: ['finix','napa','amodis','sinamin','bashok'],
            cars:[
                {color: 'red',wheel:'4',doors:'4'},
                {color: 'lightgray',wheel:'4',doors:'3'},
            ],
        }
    });
</script>
</html>