.demo {
	display: block;
	width: 200px;
	height: 150px;
	margin: 10px;
	float: left;
	background-color: gray;
	cursor: pointer;
}
.red {
	background-color: red;
}
.blue {
	background-color: blue;
}
.teal {
	background-color: teal;
}
.black {
	background-color: black;
}
.green {
	background-color: green;
}
